<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>scope隔离作用域之=双向文本绑定</title>
    <script src="/angular/angular.min.js" type="text/javascript"></script>
</head>
<body ng-app="app">
    <div ng-controller="hd">
        <input type="text" ng-model="name">
        <h1 hdcms hdcolor="name"></h1>
    </div>
<script type="text/javascript">
    var app = angular.module('app',[]);
    app.directive('hdcms',[function(){
        return{
            restrict:'AEC',
            template:'<span style="color: {{color}}">houdunwang</span><input type="text" ng-model="color">',
            scope:{color:'=hdcolor'}
        }
    }]);
    app.controller('hd',['$scope',function($scope){
        $scope.name = 'red';
    }]);
</script>
</body>
</html>