<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$window服务的实例讲解</title>
    <script src="/angular/angular.min.js" type="text/javascript"></script>
</head>
<body ng-app="app">
    <div ng-controller="hd">
        <a href="" ng-click="getCH()">h</a>
        {{getClH}}
        <hr>
        <a href="" ng-click="getSH()">s</a>
        {{getSh}}
        <hr>
        <a href="" ng-click="confirm()">c</a>
        {{content}}
    </div>
<script type="text/javascript">
    var app = angular.module('app',[]);
    app.controller('hd',['$scope','$window',function($scope,$window){
        $scope.getCH = function(){
            $scope.getClH = $window.document.body.clientHeight;
        }
        $scope.getSH = function(){
            $scope.getSh = $window.document.body.scrollHeight;
        }
        $scope.confirm = function(){
            $scope.content = $window.prompt('请输入内容');
        }
    }]);
</script>
</body>
</html>